# Checking the Python Environment

This is to ensure that the correct Python environment is set up correctly and used

In [1]:
import sys
import IPython

# Change path to append here
sys.path.append(r'C:\Users\hp\Downloads\Machine Learning Assignment')

print("Python executable:", sys.executable)
print("Python version:", sys.version)
print("Kernel:", IPython.get_ipython().kernel)
print("Sys paths:", sys.path)

Python executable: C:\Users\hp\Downloads\Machine Learning Assignment\ml-venv\Scripts\python.exe
Python version: 3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]
Kernel: <ipykernel.ipkernel.IPythonKernel object at 0x000001AE48FBB450>
Sys paths: ['C:\\Users\\hp\\Downloads\\Machine Learning Assignment', 'C:\\Users\\hp\\anaconda3\\python311.zip', 'C:\\Users\\hp\\anaconda3\\DLLs', 'C:\\Users\\hp\\anaconda3\\Lib', 'C:\\Users\\hp\\anaconda3', 'C:\\Users\\hp\\Downloads\\Machine Learning Assignment\\ml-venv', '', 'C:\\Users\\hp\\Downloads\\Machine Learning Assignment\\ml-venv\\Lib\\site-packages', 'C:\\Users\\hp\\Downloads\\Machine Learning Assignment\\ml-venv\\Lib\\site-packages\\win32', 'C:\\Users\\hp\\Downloads\\Machine Learning Assignment\\ml-venv\\Lib\\site-packages\\win32\\lib', 'C:\\Users\\hp\\Downloads\\Machine Learning Assignment\\ml-venv\\Lib\\site-packages\\Pythonwin', 'C:\\Users\\hp\\Downloads\\Machine Learning Assignment']

# Importing Libraries

This is to ensure that the necessary libraries are imported and used

In [2]:
# For DataFrame
import pandas as pd

# For imputers
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import SimpleImputer, KNNImputer, IterativeImputer

# Loading the Dataset

Following shows the raw dataset that is loaded into the notebook

In [3]:
df_raw = pd.read_csv(r'../raw_data/Customer Data.csv')

# Understanding the Dataset

This is to gain basic understanding about the dataset, which aids further processing and analysis

In [4]:
# See the shape of the dataset
df_raw.shape

(8950, 18)

In [5]:
# See the first few rows of the dataset
df_raw.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [6]:
# See the information of the dataset
df_raw.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           8950 non-null   object
 1   BALANCE                           8950 non-null   float64
 2   BALANCE_FREQUENCY                 8950 non-null   float64
 3   PURCHASES                         8950 non-null   float64
 4   ONEOFF_PURCHASES                  8950 non-null   float64
 5   INSTALLMENTS_PURCHASES            8950 non-null   float64
 6   CASH_ADVANCE                      8950 non-null   float64
 7   PURCHASES_FREQUENCY               8950 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        8950 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  8950 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            8950 non-null   float64
 11  CASH_ADVANCE_TRX                  8950 non-null   int64
 12  PURCHASES_TRX                     8950 non-null   int64
 13  CREDIT_LIMIT                      8949 non-null   float64
 14  PAYMENTS                          8950 non-null   float64
 15  MINIMUM_PAYMENTS                  8637 non-null   float64
 16  PRC_FULL_PAYMENT                  8950 non-null   float64
 17  TENURE                            8950 non-null   int64
dtypes: float64(14), int64(3), object(1)
memory usage: 1.2+ MB

In [7]:
# Setting CUST_ID as the index of the DataFrame
df_raw = df_raw.set_index('CUST_ID')

# Describing the dataset
df_raw_describe = df_raw.describe(include = ['float64', 'int64']).T

# Including skewness and kurtosis to gain more statistical description of the dataset
df_raw_describe['skewness'] = df_raw.skew(axis = 0, skipna = True, numeric_only = True)
df_raw_describe['kurtosis'] = df_raw.kurtosis(axis = 0, skipna = True, numeric_only = True)

df_raw_describe.T

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
count,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8949.000000,8950.000000,8637.000000,8950.000000,8950.000000
mean,1564.474828,0.877271,1003.204834,592.437371,411.067645,978.871112,0.490351,0.202458,0.364437,0.135144,3.248827,14.709832,4494.449450,1733.143852,864.206542,0.153715,11.517318
std,2081.531879,0.236904,2136.634782,1659.887917,904.338115,2097.163877,0.401371,0.298336,0.397448,0.200121,6.824647,24.857649,3638.815725,2895.063757,2372.446607,0.292499,1.338331
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.000000,0.000000,0.019163,0.000000,6.000000
25%,128.281915,0.888889,39.635000,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,1.000000,1600.000000,383.276166,169.123707,0.000000,12.000000
50%,873.385231,1.000000,361.280000,38.000000,89.000000,0.000000,0.500000,0.083333,0.166667,0.000000,0.000000,7.000000,3000.000000,856.901546,312.343947,0.000000,12.000000
75%,2054.140036,1.000000,1110.130000,577.405000,468.637500,1113.821139,0.916667,0.300000,0.750000,0.222222,4.000000,17.000000,6500.000000,1901.134317,825.485459,0.142857,12.000000
max,19043.138560,1.000000,49039.570000,40761.250000,22500.000000,47137.211760,1.000000,1.000000,1.000000,1.500000,123.000000,358.000000,30000.000000,50721.483360,76406.207520,1.000000,12.000000
skewness,2.393386,-2.023266,8.144269,10.045083,7.299120,5.166609,0.060164,1.535613,0.509201,1.828686,5.721298,4.630655,1.522464,5.907620,13.622797,1.942820,-2.943017
kurtosis,7.674751,3.092370,111.388771,164.187572,96.575178,52.899434,-1.638631,1.161846,-1.398632,3.334734,61.646862,34.793100,2.836656,54.770736,283.989986,2.432395,7.694823

# Data Preprocessing

1. Detecting and Handling Missing Values
2. Detecting and Handling Outliers
3. Detecting and Handling Contaminated Data
4. Detecting and Handling Inconsistent Data (Skipped, no text data in this dataset)
5. Detecting and Handling Invalid Data
6. Detecting and Handling Duplicated Data
7. Detecting and Handling Data Type Issues
8. Detecting and Handling Structural Issues

## 1.0 Detecting Missing Values
From the information obtained from the dataset, only NULL are treated as missing values, whereas zeroes are not treated as missing values

In [8]:
# Getting number of missing values in each column
series_isnull_sum = df_raw.isnull().sum(axis = 0)

# Getting the summary of missing values in the dataset
missing_summary = pd.concat([series_isnull_sum.sort_values(ascending = False), round(series_isnull_sum / len(df_raw) * 100, 2).sort_values(ascending = False)], axis = 1, keys = ['Missing Values', 'Percentage Missing Values (%)'])

missing_summary

,Missing Values,Percentage Missing Values (%)
MINIMUM_PAYMENTS,313,3.50
CREDIT_LIMIT,1,0.01
BALANCE,0,0.00
BALANCE_FREQUENCY,0,0.00
PURCHASES,0,0.00
CASH_ADVANCE,0,0.00
PURCHASES_FREQUENCY,0,0.00
ONEOFF_PURCHASES,0,0.00
INSTALLMENTS_PURCHASES,0,0.00
PURCHASES_INSTALLMENTS_FREQUENCY,0,0.00
ONEOFF_PURCHASES_FREQUENCY,0,0.00
CASH_ADVANCE_TRX,0,0.00
CASH_ADVANCE_FREQUENCY,0,0.00
PURCHASES_TRX,0,0.00
PAYMENTS,0,0.00
PRC_FULL_PAYMENT,0,0.00
TENURE,0,0.00

## 1.1 Handling Missing Values

It can be seen that only 'MINIMUM_PAYMENTS' and 'CREDIT_LIMIT' have missing values. Hence, they are imputed with the following approaches

### 1.1.1: Imputing 'MINIMUM_PAYMENTS' with 'PAYMENTS', 'CREDIT_LIMIT' with median

The possible minimum payment made is at most the total payment made by the cardholder.
Therefore, the missing values in 'MINIMUM_PAYMENTS' are imputed with the corresponding 'PAYMENTS' made by the cardholder,
whereas the missing values in 'CREDIT_LIMIT' are imputed with the median of the 'CREDIT_LIMIT'

In [9]:
# Creating a deep copy of the raw dataset
df_imputed_payments = df_raw.copy(deep = True)

# Imputing with the aforementioned method and storing in new columns
df_imputed_payments['MINIMUM_IMPUTED_MINIMUM_PAYMENTS'] = df_imputed_payments['MINIMUM_PAYMENTS'].fillna(df_imputed_payments['PAYMENTS'])
df_imputed_payments['IMPUTED_CREDIT_LIMIT'] = df_imputed_payments['CREDIT_LIMIT'].fillna(df_imputed_payments['CREDIT_LIMIT'].median())

# Saving to csv for future use
df_imputed_payments.to_csv(r'../raw_data/customer_imputed_payments.csv')

df_imputed_payments

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE,MINIMUM_IMPUTED_MINIMUM_PAYMENTS,IMPUTED_CREDIT_LIMIT
CUST_ID,,,,,,,,,,,,,,,,,,,
C10001,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12,139.509787,1000.0
C10002,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12,1072.340217,7000.0
C10003,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12,627.284787,7500.0
C10004,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12,0.000000,7500.0
C10005,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12,244.791237,1200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C19186,28.493517,1.000000,291.12,0.00,291.12,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,325.594462,48.886365,0.500000,6,48.886365,1000.0
C19187,19.183215,1.000000,300.00,0.00,300.00,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,275.861322,NaN,0.000000,6,275.861322,1000.0
C19188,23.398673,0.833333,144.40,0.00,144.40,0.000000,0.833333,0.000000,0.666667,0.000000,0,5,1000.0,81.270775,82.418369,0.250000,6,82.418369,1000.0
C19189,13.457564,0.833333,0.00,0.00,0.00,36.558778,0.000000,0.000000,0.000000,0.166667,2,0,500.0,52.549959,55.755628,0.250000,6,55.755628,500.0
C19190,372.708075,0.666667,1093.25,1093.25,0.00,127.040008,0.666667,0.666667,0.000000,0.333333,2,23,1200.0,63.165404,88.288956,0.000000,6,88.288956,1200.0

### 1.1.2 Imputing with Mean
This is not practical for 'MINIMUM_PAYMENTS' since some cardholders have made no payments at all, which their minimum payment should not exceed the total payment made as mentioned above

In [10]:
# Instantiating a simple imputer with mean strategy
imputer_mean = SimpleImputer(strategy = 'mean')

# Creating a deep copy of the raw dataset
df_imputed_mean = df_raw.copy(deep = True)

# Imputing with the aforementioned method and storing in new columns
df_imputed_mean = pd.DataFrame(imputer_mean.fit_transform(df_imputed_mean), columns = df_imputed_mean.columns, index = df_imputed_mean.index).rename({'MINIMUM_PAYMENTS': 'MEAN_IMPUTED_MINIMUM_PAYMENTS', 'CREDIT_LIMIT': 'MEAN_IMPUTED_CREDIT_LIMIT'}, axis = 1)

# Saving to csv for future use
df_imputed_mean.to_csv(r'../raw_data/customer_imputed_mean.csv')

df_imputed_mean

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,MEAN_IMPUTED_CREDIT_LIMIT,PAYMENTS,MEAN_IMPUTED_MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
CUST_ID,,,,,,,,,,,,,,,,,
C10001,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0.0,2.0,1000.0,201.802084,139.509787,0.000000,12.0
C10002,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4.0,0.0,7000.0,4103.032597,1072.340217,0.222222,12.0
C10003,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0.0,12.0,7500.0,622.066742,627.284787,0.000000,12.0
C10004,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1.0,1.0,7500.0,0.000000,864.206542,0.000000,12.0
C10005,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0.0,1.0,1200.0,678.334763,244.791237,0.000000,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C19186,28.493517,1.000000,291.12,0.00,291.12,0.000000,1.000000,0.000000,0.833333,0.000000,0.0,6.0,1000.0,325.594462,48.886365,0.500000,6.0
C19187,19.183215,1.000000,300.00,0.00,300.00,0.000000,1.000000,0.000000,0.833333,0.000000,0.0,6.0,1000.0,275.861322,864.206542,0.000000,6.0
C19188,23.398673,0.833333,144.40,0.00,144.40,0.000000,0.833333,0.000000,0.666667,0.000000,0.0,5.0,1000.0,81.270775,82.418369,0.250000,6.0
C19189,13.457564,0.833333,0.00,0.00,0.00,36.558778,0.000000,0.000000,0.000000,0.166667,2.0,0.0,500.0,52.549959,55.755628,0.250000,6.0
C19190,372.708075,0.666667,1093.25,1093.25,0.00,127.040008,0.666667,0.666667,0.000000,0.333333,2.0,23.0,1200.0,63.165404,88.288956,0.000000,6.0

### 1.1.3 Imputing with Median
Not practical for 'MINIMUM_PAYMENTS' as well, same reason as 1.1.2 (Mean)

In [11]:
# Instantiating a simple imputer with median strategy
imputer_median = SimpleImputer(strategy = 'median')

# Creating a deep copy of the raw dataset
df_imputed_median = df_raw.copy(deep = True)

# Imputing with the aforementioned method and storing in new columns
df_imputed_median = pd.DataFrame(imputer_median.fit_transform(df_imputed_median), columns = df_imputed_median.columns, index = df_imputed_median.index).rename({'MINIMUM_PAYMENTS': 'MEDIAN_IMPUTED_MINIMUM_PAYMENTS', 'CREDIT_LIMIT': 'MEDIAN_IMPUTED_CREDIT_LIMIT'}, axis = 1)

# Saving to csv for future use
df_imputed_median.to_csv(r'../raw_data/customer_imputed_median.csv')

df_imputed_median

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,MEDIAN_IMPUTED_CREDIT_LIMIT,PAYMENTS,MEDIAN_IMPUTED_MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
CUST_ID,,,,,,,,,,,,,,,,,
C10001,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0.0,2.0,1000.0,201.802084,139.509787,0.000000,12.0
C10002,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4.0,0.0,7000.0,4103.032597,1072.340217,0.222222,12.0
C10003,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0.0,12.0,7500.0,622.066742,627.284787,0.000000,12.0
C10004,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1.0,1.0,7500.0,0.000000,312.343947,0.000000,12.0
C10005,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0.0,1.0,1200.0,678.334763,244.791237,0.000000,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C19186,28.493517,1.000000,291.12,0.00,291.12,0.000000,1.000000,0.000000,0.833333,0.000000,0.0,6.0,1000.0,325.594462,48.886365,0.500000,6.0
C19187,19.183215,1.000000,300.00,0.00,300.00,0.000000,1.000000,0.000000,0.833333,0.000000,0.0,6.0,1000.0,275.861322,312.343947,0.000000,6.0
C19188,23.398673,0.833333,144.40,0.00,144.40,0.000000,0.833333,0.000000,0.666667,0.000000,0.0,5.0,1000.0,81.270775,82.418369,0.250000,6.0
C19189,13.457564,0.833333,0.00,0.00,0.00,36.558778,0.000000,0.000000,0.000000,0.166667,2.0,0.0,500.0,52.549959,55.755628,0.250000,6.0
C19190,372.708075,0.666667,1093.25,1093.25,0.00,127.040008,0.666667,0.666667,0.000000,0.333333,2.0,23.0,1200.0,63.165404,88.288956,0.000000,6.0

### 1.1.4 Imputing with Zero
This is also not practical for 'MINIMUM_PAYMENTS', since some cardholders have already made payments, hence the minimum payment should not be zero

In [12]:
# Creating a deep copy of the raw dataset
df_imputed_zero= df_raw.copy(deep = True)

# Imputing with the aforementioned method and storing in new columns
df_imputed_zero = df_imputed_zero.fillna(0).rename({'MINIMUM_PAYMENTS': 'ZERO_IMPUTED_MINIMUM_PAYMENTS', 'CREDIT_LIMIT': 'ZERO_IMPUTED_CREDIT_LIMIT'}, axis = 1)

# Saving to csv for future use
df_imputed_zero.to_csv(r'../raw_data/customer_imputed_zero.csv')

df_imputed_zero

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,ZERO_IMPUTED_CREDIT_LIMIT,PAYMENTS,ZERO_IMPUTED_MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
CUST_ID,,,,,,,,,,,,,,,,,
C10001,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
C10002,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
C10003,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
C10004,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,0.000000,0.000000,12
C10005,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C19186,28.493517,1.000000,291.12,0.00,291.12,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,325.594462,48.886365,0.500000,6
C19187,19.183215,1.000000,300.00,0.00,300.00,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,275.861322,0.000000,0.000000,6
C19188,23.398673,0.833333,144.40,0.00,144.40,0.000000,0.833333,0.000000,0.666667,0.000000,0,5,1000.0,81.270775,82.418369,0.250000,6
C19189,13.457564,0.833333,0.00,0.00,0.00,36.558778,0.000000,0.000000,0.000000,0.166667,2,0,500.0,52.549959,55.755628,0.250000,6
C19190,372.708075,0.666667,1093.25,1093.25,0.00,127.040008,0.666667,0.666667,0.000000,0.333333,2,23,1200.0,63.165404,88.288956,0.000000,6

### 1.1.5 Imputing with Forward Fill Method
This is not practical at all, no correlation between the rows, this is not a time series data

In [13]:
# Creating a deep copy of the raw dataset
df_imputed_ffill = df_raw.copy(deep = True)

# Imputing with the aforementioned method and storing in new columns
df_imputed_ffill = df_imputed_ffill.ffill().rename({'MINIMUM_PAYMENTS': 'FFILL_IMPUTED_MINIMUM_PAYMENTS', 'CREDIT_LIMIT': 'FFILL_IMPUTED_CREDIT_LIMIT'}, axis = 1)

# Saving to csv for future use
df_imputed_ffill.to_csv(r'../raw_data/customer_imputed_ffill.csv')

df_imputed_ffill

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,FFILL_IMPUTED_CREDIT_LIMIT,PAYMENTS,FFILL_IMPUTED_MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
CUST_ID,,,,,,,,,,,,,,,,,
C10001,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
C10002,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
C10003,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
C10004,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,627.284787,0.000000,12
C10005,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C19186,28.493517,1.000000,291.12,0.00,291.12,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,325.594462,48.886365,0.500000,6
C19187,19.183215,1.000000,300.00,0.00,300.00,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,275.861322,48.886365,0.000000,6
C19188,23.398673,0.833333,144.40,0.00,144.40,0.000000,0.833333,0.000000,0.666667,0.000000,0,5,1000.0,81.270775,82.418369,0.250000,6
C19189,13.457564,0.833333,0.00,0.00,0.00,36.558778,0.000000,0.000000,0.000000,0.166667,2,0,500.0,52.549959,55.755628,0.250000,6
C19190,372.708075,0.666667,1093.25,1093.25,0.00,127.040008,0.666667,0.666667,0.000000,0.333333,2,23,1200.0,63.165404,88.288956,0.000000,6

### 1.1.5 Imputing with Backward Fill Method
Not practical as well, same reason as 1.1.5 (Forward Fill)

In [14]:
# Creating a deep copy of the raw dataset
df_imputed_bfill = df_raw.copy(deep = True)

# Imputing with the aforementioned method and storing in new columns
df_imputed_bfill = df_imputed_bfill.bfill().rename({'MINIMUM_PAYMENTS': 'BFILL_IMPUTED_MINIMUM_PAYMENTS', 'CREDIT_LIMIT': 'BFILL_IMPUTED_CREDIT_LIMIT'}, axis = 1)

# Saving to csv for future use
df_imputed_bfill.to_csv(r'../raw_data/customer_imputed_bfill.csv')

df_imputed_bfill

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,BFILL_IMPUTED_CREDIT_LIMIT,PAYMENTS,BFILL_IMPUTED_MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
CUST_ID,,,,,,,,,,,,,,,,,
C10001,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
C10002,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
C10003,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
C10004,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,244.791237,0.000000,12
C10005,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C19186,28.493517,1.000000,291.12,0.00,291.12,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,325.594462,48.886365,0.500000,6
C19187,19.183215,1.000000,300.00,0.00,300.00,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,275.861322,82.418369,0.000000,6
C19188,23.398673,0.833333,144.40,0.00,144.40,0.000000,0.833333,0.000000,0.666667,0.000000,0,5,1000.0,81.270775,82.418369,0.250000,6
C19189,13.457564,0.833333,0.00,0.00,0.00,36.558778,0.000000,0.000000,0.000000,0.166667,2,0,500.0,52.549959,55.755628,0.250000,6
C19190,372.708075,0.666667,1093.25,1093.25,0.00,127.040008,0.666667,0.666667,0.000000,0.333333,2,23,1200.0,63.165404,88.288956,0.000000,6

### 1.1.6 Imputing with K-Nearest Neighbors Imputer
This is good only for fitting into simple models, SimpleImputer would be considerably better for complex models

Reference:
https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html#sklearn.impute.SimpleImputer

In [15]:
# Instantiating a KNN imputer with 3 neighbors
imputer_knn = KNNImputer(n_neighbors = 3)

# Creating a deep copy of the raw dataset
df_imputer_knn = df_raw.copy(deep = True)

# Imputing with the aforementioned method and storing in new columns
df_imputer_knn = pd.DataFrame(imputer_knn.fit_transform(df_imputer_knn), columns = df_imputer_knn.columns, index = df_imputer_knn.index).rename({'MINIMUM_PAYMENTS': 'KNN_IMPUTED_MINIMUM_PAYMENTS', 'CREDIT_LIMIT': 'KNN_IMPUTED_CREDIT_LIMIT'}, axis = 1)

# Saving to csv for future use
df_imputer_knn.to_csv(r'../raw_data/customer_imputed_knn_n3.csv')

df_imputer_knn

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,KNN_IMPUTED_CREDIT_LIMIT,PAYMENTS,KNN_IMPUTED_MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
CUST_ID,,,,,,,,,,,,,,,,,
C10001,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0.0,2.0,1000.0,201.802084,139.509787,0.000000,12.0
C10002,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4.0,0.0,7000.0,4103.032597,1072.340217,0.222222,12.0
C10003,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0.0,12.0,7500.0,622.066742,627.284787,0.000000,12.0
C10004,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1.0,1.0,7500.0,0.000000,448.208854,0.000000,12.0
C10005,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0.0,1.0,1200.0,678.334763,244.791237,0.000000,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C19186,28.493517,1.000000,291.12,0.00,291.12,0.000000,1.000000,0.000000,0.833333,0.000000,0.0,6.0,1000.0,325.594462,48.886365,0.500000,6.0
C19187,19.183215,1.000000,300.00,0.00,300.00,0.000000,1.000000,0.000000,0.833333,0.000000,0.0,6.0,1000.0,275.861322,174.958656,0.000000,6.0
C19188,23.398673,0.833333,144.40,0.00,144.40,0.000000,0.833333,0.000000,0.666667,0.000000,0.0,5.0,1000.0,81.270775,82.418369,0.250000,6.0
C19189,13.457564,0.833333,0.00,0.00,0.00,36.558778,0.000000,0.000000,0.000000,0.166667,2.0,0.0,500.0,52.549959,55.755628,0.250000,6.0
C19190,372.708075,0.666667,1093.25,1093.25,0.00,127.040008,0.666667,0.666667,0.000000,0.333333,2.0,23.0,1200.0,63.165404,88.288956,0.000000,6.0

### 2.1.1.7 Imputing with Iterative Imputer
Good only for fitting into simple models, SimpleImputer would be considerably better for complex models. It is using BayesianRidge as the estimator by default

Reference: https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html#sklearn.impute.SimpleImputer

In [16]:
# Instantiating an Iterative Imputer with the default BayesianRidge estimator 
imputer_iterative = IterativeImputer()

# Creating a deep copy of the raw dataset
df_imputed_iter = df_raw.copy(deep = True)

# Imputing with the aforementioned method and storing in new columns
df_imputed_iter = pd.DataFrame(imputer_iterative.fit_transform(df_imputed_iter), columns = df_imputed_iter.columns, index = df_imputed_iter.index)\
    .rename({'MINIMUM_PAYMENTS': 'ITER_IMPUTED_MINIMUM_PAYMENTS', 'CREDIT_LIMIT': 'ITER_IMPUTED_CREDIT_LIMIT'}, axis = 1)

# Saving to csv for future use
df_imputed_iter.to_csv(r'../raw_data/customer_imputed_iterative.csv')

df_imputed_iter

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,ITER_IMPUTED_CREDIT_LIMIT,PAYMENTS,ITER_IMPUTED_MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
CUST_ID,,,,,,,,,,,,,,,,,
C10001,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0.0,2.0,1000.0,201.802084,139.509787,0.000000,12.0
C10002,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4.0,0.0,7000.0,4103.032597,1072.340217,0.222222,12.0
C10003,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0.0,12.0,7500.0,622.066742,627.284787,0.000000,12.0
C10004,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1.0,1.0,7500.0,0.000000,431.220627,0.000000,12.0
C10005,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0.0,1.0,1200.0,678.334763,244.791237,0.000000,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C19186,28.493517,1.000000,291.12,0.00,291.12,0.000000,1.000000,0.000000,0.833333,0.000000,0.0,6.0,1000.0,325.594462,48.886365,0.500000,6.0
C19187,19.183215,1.000000,300.00,0.00,300.00,0.000000,1.000000,0.000000,0.833333,0.000000,0.0,6.0,1000.0,275.861322,346.308629,0.000000,6.0
C19188,23.398673,0.833333,144.40,0.00,144.40,0.000000,0.833333,0.000000,0.666667,0.000000,0.0,5.0,1000.0,81.270775,82.418369,0.250000,6.0
C19189,13.457564,0.833333,0.00,0.00,0.00,36.558778,0.000000,0.000000,0.000000,0.166667,2.0,0.0,500.0,52.549959,55.755628,0.250000,6.0
C19190,372.708075,0.666667,1093.25,1093.25,0.00,127.040008,0.666667,0.666667,0.000000,0.333333,2.0,23.0,1200.0,63.165404,88.288956,0.000000,6.0

## 2.0 Detecting Outliers

Both interquartile range (IQR) and z-Score methods are used to detect outliers in the dataset, but IQR is more suitable as the data are skewed, not near-normal, as indicated by its skewness and excess kurtosis

### 2.0.1 IQR Method
This method requires the first and third quartile of the dataset to be computed, which in turn is used to calculate the interquartile range, and in turn used to derive the upper and lower fences. Data points falling out of these fences are considered outliers. The equations are as follows:
\begin{align*}
Q1 &= \text{First Quartile (25th percentile)} \\
Q3 &= \text{Third Quartile (75th percentile)} \\
IQR &= Q3 - Q1 \\
\text{Lower Fence} &= Q1 - 1.5 \times IQR \\
\text{Upper Fence} &= Q3 + 1.5 \times IQR \\
\text{Outliers} &= \{ x \mid x < \text{Lower Fence} \text{ or } x > \text{Upper Fence} \}
\end{align*}

In [17]:
# Choosing the KNN imputed dataset for further process and analysis
df_imputed = pd.read_csv(r'../raw_data/customer_imputed_knn_n3.csv', index_col = 'CUST_ID')

# Defining function for computing outliers using IQR method
def outliers_iqr(column):
    # Getting first and third quartile of the column
    q1 = column.quantile(0.25)
    q3 = column.quantile(0.75)
    
    # Computing the IQR, lower and upper fences
    iqr = q3 - q1
    lower_fence = q1 - 1.5 * iqr
    upper_fence = q3 + 1.5 * iqr
    
    # Getting the outliers
    outliers = column[(column < lower_fence) | (column > upper_fence)]
    
    # Returning the number of outliers, lower fence, upper fence, and percentage of outliers
    return len(outliers), lower_fence, upper_fence, round(len(outliers) / len(column) * 100, 2)

# Getting outliers information using IQR method
df_outliers_iqr = df_imputed.apply(outliers_iqr).T.rename({0: 'Outliers Count', 1: 'Lower Fence', 2: 'Upper Fence', 3: 'Percentage Outliers (%)'}, axis = 1)

df_outliers_iqr

,Outliers Count,Lower Fence,Upper Fence,Percentage Outliers (%)
BALANCE,695.0,-2760.505265,4942.927215,7.77
BALANCE_FREQUENCY,1493.0,0.722223,1.166666,16.68
PURCHASES,808.0,-1566.107500,2715.872500,9.03
ONEOFF_PURCHASES,1013.0,-866.107500,1443.512500,11.32
INSTALLMENTS_PURCHASES,867.0,-702.956250,1171.593750,9.69
CASH_ADVANCE,1030.0,-1670.731709,2784.552848,11.51
PURCHASES_FREQUENCY,0.0,-1.166668,2.166668,0.00
ONEOFF_PURCHASES_FREQUENCY,782.0,-0.450000,0.750000,8.74
PURCHASES_INSTALLMENTS_FREQUENCY,0.0,-1.125000,1.875000,0.00
CASH_ADVANCE_FREQUENCY,525.0,-0.333333,0.555555,5.87
CASH_ADVANCE_TRX,804.0,-6.000000,10.000000,8.98
PURCHASES_TRX,766.0,-23.000000,41.000000,8.56
KNN_IMPUTED_CREDIT_LIMIT,248.0,-5750.000000,13850.000000,2.77
PAYMENTS,808.0,-1893.511060,4177.921543,9.03
KNN_IMPUTED_MINIMUM_PAYMENTS,891.0,-790.948057,1761.632495,9.96
PRC_FULL_PAYMENT,1474.0,-0.214286,0.357143,16.47
TENURE,1366.0,12.000000,12.000000,15.26

## 2.0.2 z-Score Method
This method assumes an approximate normal distribution of the data, which is not the case for this dataset. Hence, it is not practical for outliers detection in this dataset. The z-Score is calculated as follows:
\begin{align*}
z &= \frac{x - \mu}{\sigma} \\
\text{Lower Fence} &= \mu - 3 \times \sigma \\
\text{Upper Fence} &= \mu + 3 \times \sigma \\
\text{Outliers} &= \{ x \mid z < -3 \text{ or } z > 3 \}
\end{align*}

In [18]:
def outliers_zscore(column):
    # Computing the mean and standard deviation of the column
    mean = column.mean()
    std = column.std()
    
    # Computing the z-scores of each row
    z_scores = (column - mean) / std
    
    # Computing the lower and upper fences
    lower_fence = mean - 3 * std
    upper_fence = mean + 3 * std
    
    # Getting the outliers
    outliers = column[abs(z_scores) > 3]
    
    # Returning the number of outliers, lower fence, upper fence, and percentage of outliers
    return len(outliers), lower_fence, upper_fence, round(len(outliers) / len(column) * 100, 2)

# Getting outliers information using z-Score method
df_outliers_zscore = df_imputed.apply(outliers_zscore).T.rename({0: 'Outliers Count', 1: 'Lower Fence', 2: 'Upper Fence', 3: 'Percentage Outliers (%)'}, axis = 1)

df_outliers_zscore

,Outliers Count,Lower Fence,Upper Fence,Percentage Outliers (%)
BALANCE,196.0,-4680.120811,7809.070466,2.19
BALANCE_FREQUENCY,176.0,0.166559,1.587983,1.97
PURCHASES,135.0,-5406.699512,7413.109179,1.51
ONEOFF_PURCHASES,122.0,-4387.226381,5572.101123,1.36
INSTALLMENTS_PURCHASES,137.0,-2301.946701,3124.081990,1.53
CASH_ADVANCE,182.0,-5312.620517,7270.362742,2.03
PURCHASES_FREQUENCY,0.0,-0.713762,1.694463,0.00
ONEOFF_PURCHASES_FREQUENCY,0.0,-0.692551,1.097466,0.00
PURCHASES_INSTALLMENTS_FREQUENCY,0.0,-0.827906,1.556781,0.00
CASH_ADVANCE_FREQUENCY,199.0,-0.465220,0.735508,2.22
CASH_ADVANCE_TRX,172.0,-17.225113,23.722767,1.92
PURCHASES_TRX,185.0,-59.863115,89.282780,2.07
KNN_IMPUTED_CREDIT_LIMIT,152.0,-6421.930530,15410.286909,1.70
PAYMENTS,159.0,-6952.047419,10418.335123,1.78
KNN_IMPUTED_MINIMUM_PAYMENTS,108.0,-6200.529545,7909.111218,1.21
PRC_FULL_PAYMENT,0.0,-0.723783,1.031212,0.00
TENURE,394.0,7.502326,15.532311,4.40

## 2.1 Handling Outliers
It is seen that the dataset has a great portion of outliers. However, instead of imputing or removing, it is better to retain them, as they might represent customers departing from different segments

## 3 Detecting and Handling Contaminated Data
This dataset has no identified contamination, as rows are rather independent of each other, having no correlation between them. Since there is no contaminated data, no action is required

## 4 Detecting and Handling Inconsistent Data
Skipped as well, as there is no text data in this dataset

## 5.0 Detecting Invalid Data
Possible source of invalid data in this dataset is the occurence of negative values in any of the columns in the dataset. This is checked below

In [19]:
# Getting number of negative values in each column
series_negative_values = (df_imputed < 0).sum(axis = 0)

# Getting the summary of negative values in the dataset
negative_summary = pd.concat([series_negative_values.sort_values(ascending = False), round(series_negative_values / len(df_imputed) * 100, 2).sort_values(ascending = False)], axis = 1, keys = ['Negative Values', 'Percentage Negative Values (%)'])

negative_summary

,Negative Values,Percentage Negative Values (%)
BALANCE,0,0.0
BALANCE_FREQUENCY,0,0.0
PURCHASES,0,0.0
ONEOFF_PURCHASES,0,0.0
INSTALLMENTS_PURCHASES,0,0.0
CASH_ADVANCE,0,0.0
PURCHASES_FREQUENCY,0,0.0
ONEOFF_PURCHASES_FREQUENCY,0,0.0
PURCHASES_INSTALLMENTS_FREQUENCY,0,0.0
CASH_ADVANCE_FREQUENCY,0,0.0
CASH_ADVANCE_TRX,0,0.0
PURCHASES_TRX,0,0.0
KNN_IMPUTED_CREDIT_LIMIT,0,0.0
PAYMENTS,0,0.0
KNN_IMPUTED_MINIMUM_PAYMENTS,0,0.0
PRC_FULL_PAYMENT,0,0.0
TENURE,0,0.0

## 5.1 Handling Invalid Data
The dataset shows no negative values, hence no action is required

## 6.0 Detecting and Handling Duplicated Data
Duplicated data in the context of this dataset is defined as rows with the same index, or rows with the same values in all columns. This is checked below

In [20]:
# Getting duplicated indices
duplicated_indices = df_imputed.index.duplicated()

# Getting the number of duplicated indices
duplicated_indices_count = duplicated_indices.sum()

# Printing the number of duplicated indices found
print(f'Number of duplicated indices found: {duplicated_indices_count}')

# Getting duplicated rows with same values in all columns
duplicated_rows = df_imputed.duplicated(keep = 'first')

# Printing the number of duplicated rows found
print(f'Number of duplicated rows found: {duplicated_rows.sum()}')

Number of duplicated indices found: 0
Number of duplicated rows found: 0

## 6.1 Handling Duplicated Data
The dataset shows no duplicated data, hence no action is required

## 7.0 Detecting Data Type Issues
Columns 'CASH_ADVANCE_TRX', 'PURCHASES_TRX', and 'TENURE' should be of int64 data type, as they represent the number of transactions and tenure in months respectively, whereas the others should be of float64 data type. This is checked below

In [21]:
# Getting the data types of the dataset
df_imputed.dtypes

BALANCE                             float64
BALANCE_FREQUENCY                   float64
PURCHASES                           float64
ONEOFF_PURCHASES                    float64
INSTALLMENTS_PURCHASES              float64
CASH_ADVANCE                        float64
PURCHASES_FREQUENCY                 float64
ONEOFF_PURCHASES_FREQUENCY          float64
PURCHASES_INSTALLMENTS_FREQUENCY    float64
CASH_ADVANCE_FREQUENCY              float64
CASH_ADVANCE_TRX                    float64
PURCHASES_TRX                       float64
KNN_IMPUTED_CREDIT_LIMIT            float64
PAYMENTS                            float64
KNN_IMPUTED_MINIMUM_PAYMENTS        float64
PRC_FULL_PAYMENT                    float64
TENURE                              float64
dtype: object

## 7.1 Handling Data Type Issues
It is observed that 'CASH_ADVANCE_TRX', 'PURCHASES_TRX', and 'TENURE' are in float64 data type, but they should be in int64 data type. Hence, they are converted to int64 data type

In [22]:
# Defining the columns to be converted to int64 data type
columns_int64 = ['CASH_ADVANCE_TRX', 'PURCHASES_TRX', 'TENURE']

# Converting the columns to int64 data type
df_imputed[columns_int64] = df_imputed[columns_int64].astype('int64')

# Getting the data types of the dataset again
df_imputed.dtypes

BALANCE                             float64
BALANCE_FREQUENCY                   float64
PURCHASES                           float64
ONEOFF_PURCHASES                    float64
INSTALLMENTS_PURCHASES              float64
CASH_ADVANCE                        float64
PURCHASES_FREQUENCY                 float64
ONEOFF_PURCHASES_FREQUENCY          float64
PURCHASES_INSTALLMENTS_FREQUENCY    float64
CASH_ADVANCE_FREQUENCY              float64
CASH_ADVANCE_TRX                      int64
PURCHASES_TRX                         int64
KNN_IMPUTED_CREDIT_LIMIT            float64
PAYMENTS                            float64
KNN_IMPUTED_MINIMUM_PAYMENTS        float64
PRC_FULL_PAYMENT                    float64
TENURE                                int64
dtype: object

## 8 Detecting and Handling Structural Issues
The dataset is already in a good structure, with the index set to 'CUST_ID', which is the unique identifier for each customer. Hence, no action is required

# Saving the Preprocessed Dataset
The preprocessed dataset in saved into a new csv file for future use

In [23]:
# Saving preprocessed dataset to a new csv file
# Don't forget to change name of the file appropriately
df_imputed.to_csv(r'../raw_data/customer_preprocessed_imputed_knn_n3_outlier_retained.csv')